# Node.js dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Production build
/build

# Testing
/coverage

# Environment variables
.env*

# TypeScript metadata
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS-specific
.DS_Store

# Deployment (e.g., Vercel)
.vercel
