
:root {
  --bg-color: #f6f7f8 ;
  --secondary-color: #2ecc71;
  --text-dark: #333;
  --head-color:#5F7181;
  --table-bg-color:#ecf3f9;
  --pagination-color:#A5A8AF;
  --pagination-number-color:#A5A8AF;
  --count-bg:#F28372;
  --line-color:#3FC3AC;
  --sidebar-bg:#2c4e6c;
}
body{
  background-color: var(--bg-color);
  font-family: 'Inter', sans-serif;
}
.line{
  height:30px;
  background-color: gray;
  width:1.5px;
}
.formContainer{
  width:515px;
}
.formContainer .form-control{
  padding-left: 30px;
}
.navbar-collapse{
  justify-content: end !important;
}
.dropdown .btn:hover{
  background-color: transparent !important;
}
 .dropdown-toggle{
  padding:0px;
  width:90px !important;
  border: 1px solid lightgray;
 }
 .btn.show{
  background-color: transparent !important;
  width:90px !important;
}
.dropdown-menu{
  width: 90px !important;
      --bs-dropdown-min-width:0px !important
}

/* Layout */
.sidebar {
  background-color: #2c4e6c;
  color: white;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
 position: relative;
}
.hide-sidebar{
  min-height:63px;
  background-color: #2c4e6c;
   padding: 1rem;
  border-radius: 1rem;
}
.sidebar ul {
  padding: 0;
}

.sidebar li {
  padding: 0.8rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar li:hover {
  background-color: #32465a;
}
.leftText{
  font-size: 14px;
  font-weight: 500;
}
th{
   font-size: 13px;
  font-weight: 700;
  color:var(--head-color);
  background-color: var(--table-bg-color) !important;
}
td{
  font-size: 14px;
  font-weight: 500;
}


/* Pagination */
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
  padding: .5rem;
  border-top: 1px solid #eee;
  background-color: #f9f9f9;
color:var(--pagination-color)
}

.pagination {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  padding-left: 0;
  padding-top: 3px;
    margin-bottom: 0px;
}

.pagination li {
  padding: 6px 12px;
  border-radius: 6px;
  color: var(--pagination-number-color);
  cursor: pointer;
  font-size: 14px;
}

.pagination li:hover {
  background-color: #f3f4f6;
}

.pagination .active {
  background-color: White;
  color:black !important;
}

.goto-page {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.goto-page input {
  width: 35px;
  text-align: center;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #ffff;
}
.pagination li a{
text-decoration: none !important;
color:black;
}
.countBg{
  background-color: var(--count-bg) !important;
}
.underline-bar{
 background-color: var(--line-color); 
 height:3.5px;
}


.toggleButton {
  position: absolute;
  top: 20px;
  right: -15px; /* This pushes it outside the sidebar */
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  color: #2c4e6c;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.toggleButton:hover{
  background-color: #ffff !important;
  width: 35px !important;
  height:  35px !important;
}


/* Model */
.modelBtn{
  width:210px;
  color:#ffff;
  background-color: var(--line-color);
   border:2px solid var(--line-color) !important;
}
.modelBtn:hover{
  border:2px solid var(--line-color) !important;
  color:var(--line-color) !important;
  background-color: #fff !important;
}
.title{
  color:var(--line-color)
}
.appealForm:focus{
  box-shadow: none !important;
}
.react-datepicker-wrapper{
  width:100% !important;
}
.react-datepicker__input-container input{
  border:1px solid lightgray !important;
     border-radius: 4px !important;
    padding: 6px 9px;
}
/* Hover */
.hover-container {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* below the button */
  left: -45px;
  background-color: white;
  border: 1px solid var(--sidebar-bg);
  min-width: 70px;
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.hover-container:hover .dropdown-content {
  display: block;
}
/* Event */
.event-container {
  position: relative;
  display: inline-block;
}

.event-content {
  position: absolute;
  top: 100%; /* below the button */
  left: -325px;
  background-color: white;
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: none; /* Initially hidden */
}

.event-content.show {
  display: block;
}
.react-calendar{
  border-radius: 10px !important;
  border:none !important
}
.react-calendar button{
  border-radius: 5px !important;
}
.eventBtn{
  width:200px
}
.form-select:focus {
    border-color: #86b7fe; 
    box-shadow:none !important;
}
abbr[title]{
  color:var(--line-color) !important;
  text-decoration: none !important;
}
 @media only screen and (max-width: 768px) {
.event-content{
left:0
}
}
@media only screen and (max-width: 426px) {
.formContainer{
  width:350px ;
}
.event-content{
left:-20px;
}
}
@media only screen and (max-width: 376px) {
.formContainer{
  width:297px !important;
}
.event-content{
left:-49px;
}
}
